/* Pagination styles */
.swiper-pagination {
    position: relative;
    margin-top: 20px;
    padding: 5px;
  }
  
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    
    margin: 0 6px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
  }
  
  .swiper-pagination-bullet-active {
    background-color: #00b207; /* Active bullet color */
    width: 12px;
    height: 12px;
  }
  
  /* Optional hover effect */
  .swiper-pagination-bullet:hover {
    background-color: #00b207;
    opacity: 0.7;
  }
  
  .custom-swiper-buttons-container {
    display: flex;
    gap: 4px; /* Adjust the value as needed */
  }
  
  .custom-swiper-button-prev,
  .custom-swiper-button-next {
    margin: 0; /* Ensure no additional margin is applied */
  }
  