/* Custom CSS to further adjust pagination bullets */
@media (max-width: 768px) {
    .custom-swiper-pagination {
      bottom: 12px !important; /* Move the bullets further down on smaller screens */
    }
  }
  
  /* Active and default bullet styles */
  .swiper-pagination-bullet {
    background-color: #a7c4b9 !important; /* Light green color for inactive bullets */
    width: 10px !important;
    height: 10px !important;
    margin: 0 6px !important; /* Adjust bullet spacing */
  }
  
  .swiper-pagination-bullet-active {
    
    background-color: #28a745 !important; /* Dark green for active bullet */
  }
  