/* styles.css */
.image-container {
    position: relative;
    display: inline-block;
  }
  
  .image-container img {
    transition: filter 0.3s ease;
  }
  
  .image-container:hover img {
    filter: brightness(80%) saturate(100%) invert(80%) sepia(40%) hue-rotate(90deg);

  }
  