@tailwind base;
@tailwind components;
@tailwind utilities;



.green-shadow:hover{
    box-shadow: 0px 0px 12px 0px #20B52652;
    
}

.hot-sale{
    background-image: url('./assets//common/sale/hot-deal.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.summer-sale{
    background-image: url('./assets//common/sale/summer-sale.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* styles.css */
@keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .dropdown-animation {
   
    animation: fadeInDown 0.3s ease-in-out;
  }
  

  /* .custom-swiper-pagination {
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 50; 
    display: flex;
    gap: 8px;
  }
  
  .custom-swiper-pagination .swiper-pagination-bullet {
    background-color: rgba(0, 0, 0, 0.5);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .custom-swiper-pagination .swiper-pagination-bullet-active {
    background-color: rgb(0, 178, 7);
  } */
  


